@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Poppins:wght@700&display=swap');

:root {
    --header-btn: #0176FF;
    --logo-text: #404347;
    --nav-items: #858A8F;
    --hero-header: #333333;
    --hero-btn-1: #377DFF;
    --hero-btn-2: #E5F1FF;
    --hero-logo: #F5F6FA;
    --hero-logo-text: #AAB0B7;
    --feature-two: #397EFF;
    --red: #FF715B;
    --green: #2DCA8C;
    --light: #FFFFFF;
    --dark: #000000;
}

/***************************/
/******** Universal ********/
/***************************/
*, 
*::before, 
*::after 
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body
{
    background-color: var(--light);
    font-family: "Inter", sans-serif;
}

.container 
{
    max-inline-size: 90rem;
    inline-size: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.btn
{
    font-size: clamp(0.6785rem, 1.38889vw, 1.25rem);
    line-height: 1.5rem;
    font-weight: 600;
    text-transform: capitalize;
    border-radius: 0.35735rem;
    cursor: pointerf;
}

/***************************/
/****** Header Section *****/
/***************************/

.header
{
    position: realtive;
    inline-size: 100%;
    block-size: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 0;
}

.logo-container 
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.45rem;
}

.logo-container img 
{
    height: auto;
    width: clamp(1.8rem, 5vw ,4.5rem);
}

.logo-container .logo-name
{
    font-weight: 700;
    font-size: clamp(1rem, 2.0833vw, 2rem);
    font-family: "Poppins", sans-serif;
    color: var(--logo-text);
}

.navigation 
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.34375rem;
    color: var(--nav-items);
}

.navigation .nav-item
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.96875rem;
    font-size: clamp(0.8rem, 1.38889vw, 1.25rem);
    line-height: 1.5rem;
    font-weight: 600;
}

.header .btn
{
    background-color: var(--header-btn);
    border: 0.1rem solid var(--header-btn);
    color: var(--light);
    padding: clamp(0.2rem, 1.1111vw, 1rem) clamp(0.2rem, 2.083vw, 1.825rem);
}

/******** Responsiveness ********/
@media screen and (max-width: 625px)
{
    .container
    {
        inline-size: 100%;
        padding-inline: 0.5rem;
    }

    .menu-btn
    {
        display: block !important;
        font-size: clamp(0.8rem, 1.38889vw, 1.25rem);
        background-color: var(--light);
        color: var(--header-btn);
        border: 0.1rem solid var(--header-btn);
        padding: clamp(0.2rem, 1.5vw, 1rem) clamp(0.2rem, 5vw, 1.825rem);
        border-radius: 2rem;
        font-weight: 600;
        cursor: pointer;
    }

    .navigation
    {
        display: none;
        flex-direction: column;
        padding: 0.5rem 0;
        position: absolute;
        margin-block-start: 0.5rem;
        top: 100%;
        right: 0;
        width: 100%;
        box-shadow: 0 0.3rem 0.5rem var(--nav-items);
    }
}

/***************************/
/****** Hero Section *******/
/***************************/
.hero
{
    position: realtive;
    inline-size: 100%;
    block-size: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.5rem 0;
}

.hero .container 
{
    flex-direction: row;
    align-items: center;
    position: relative;
}

.content
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    gap: clamp(1.5rem, 2.5vw, 2.25rem);
    width: 45%;
}

.content--heading 
{
    font-size: clamp(1.5rem, 4.16vw, 3.75rem);
    line-height: clamp(1.5, 5.667vw, 4.55rem);
    color: var(--hero-header);
}

.content--description
{
    font-size: clamp(0.8rem, 1.28889vw, 1.25rem);
    line-height: clamp(0.9rem, 1.355rem, 1.875rem);
    color: var(--nav-items);
}

.hero .hero-content--btns
{
    display: flex;
    gap: 2rem;
}

.hero .hero-content--btns .btn
{
    padding: clamp(0.2rem, 1.1111vw, 1rem) clamp(0.2rem, 2.8722vw, 3.125rem);
}

.hero .hero-content--btns .btn:first-child
{
    background-color: var(--hero-btn-1);
    border: 0.1rem solid var(--hero-btn-1);
    color: var(--light);
}

.hero .hero-content--btns .btn:last-child
{
    background-color: var(--hero-btn-2);
    border: 0.1rem solid var(--hero-btn-2);
    color: var(--hero-btn-1);
}

.hero .hero-content--payment
{
    display: flex;
    gap: clamp(1.125rem, 2.2222vw, 2rem);
    align-items: center;
    justify-content: center;
}

.hero .hero-content--payment img
{
    background-color: var(--hero-logo);
    border-radius: 50%;
    padding: 0.9rem;
}

.hero .hero-content--payment span
{
    color: var(--hero-logo-text);
    font-size: clamp(0.8rem, 1.5vw ,1.5rem);
    line-height: clamp(1rem, 2.08333vw, 1.875rem);
}

.image
{
    display: flex;
    align-self: center;
    justify-content: center;
    position: relative;
}

.image img
{
    max-inline-size: 55vw;
}

.image img:first-child
{
    position: relative;
    z-index: 0;
}

.image img:last-child
{
    position: absolute;
    top: 10.75%;
    right: -1%;
    z-index: -1;
}


/********* Responsiveness *********/
@media screen and (max-width: 625px)
{
    .hero .container
    {
        flex-direction: column;
        gap: 3rem;
    }

    .hero .container > *
    {
        width: 98%;
        position: relative;
    }

    .content--heading 
    {
        align-self: center;
    }

    .image img
    {
        max-inline-size: 70vw;
    }

    .image img:last-child
    {
        top: 53%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}


/***************************/
/***** Partner Section *****/
/***************************/
.partners
{
    position: realtive;
    inline-size: 100%;
    block-size: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.5rem 0;
}

.partners .container 
{
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    position: relative;
}

.partners .heading
{
    color: var(--nav-items);
    font-size: clamp(0.9rem, 1.6667vw, 1.5rem);
    font-weight: 500;
}

.partners .partner-list
{
    inline-size: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 1.8rem;
    justify-content: space-between;
}

.partners img
{
    max-inline-size: 20vw;
}

/******** Responsiveness ********/
@media screen and (max-width: 681px) 
{
    .partners .partner-list
    {
        justify-content: center;
        gap: 3rem;
    }
}

@media screen and (max-width: 625px) 
{
    .partners .partner-list
    {
        gap: 2rem;
    }
}

/***************************/
/***** Features Section ****/
/***************************/
.feature-one
{
    position: realtive;
    inline-size: 100%;
    block-size: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    padding: 2.5rem 0;
}

.feature-one .container 
{
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
    position: relative;
}

.feature-one .card-image
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.feature-one .card-image > img
{
    position: absolute;
    top: 15%;
    left: -7.5%;
    z-index: -1;
}

.feature-one .card-image > *
{
    max-inline-size: 48vw;
}

.feature-one .content
{
    width: 45%;
}

.feature-one .list
{
    display: flex;
    flex-direction: column;
    gap: clamp(1rem, 3.77778vw, 3.4rem);
}

.list .list-item
{
    display: flex;
    gap: clamp(0.8rem, 2.22222vw, 2rem);
}
.list .list-item .icon-holder
{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.list-item .content-holder
{
    display: flex;
    flex-direction: column;
    gap: clamp(0.8rem, 1.6069vw, 1.44625rem);
}

.content-holder .content-heading
{
    color: var(--hero-header);
    font-size: clamp(0.9rem, 1.6667vw, 1.5rem);
    font-weight: 600;
}

.content-holder .content-description
{
    color: var(--nav-items);
    font-size: clamp(0.8rem, 1.125vw ,1.125rem);
    line-height: clamp(1rem, 2.08333vw, 1.875rem);
}

.card-container
{
    display: flex;
    flex-direction: column;
    gap: clamp(0.8rem, 4.06vw, 4.36rem);
    padding: clamp(0.6rem, 3.87222vw, 3.5rem) clamp(0.8rem, 3.47222vw, 3.125rem);
    box-shadow: 0 0 0 2px var(--hero-logo);
    border-radius: 0.3rem;
    background-color: var(--light);
    z-index: 1;
}

.card-container .card-header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-container .card-header .title
{
    color: var(--hero-header);
    font-weight: 600;
    font-size: clamp(0.8rem, 1.80555vw, 1.625rem);
}

.card-container .card-header i
{
    color: var(--hero-btn-1);
    background-color: var(--hero-btn-2);
    padding: 0.6875rem;
    border-radius: 50%;
}

.card-container > img 
{
    height: auto;
    width: clamp(5rem, 34.722222vw ,31.25rem);
}

.card-container .list-container
{
    display: flex;
    flex-direction: column;
    position: relative;
    gap: clamp(1.125rem, 1.875vw, 1.6875rem);
}

.card-container .list-container .list-item
{
    display: flex;
    flex-direction: row;
    position: relative;
    gap: clamp(0.6rem, 1.2555vw, 1.25rem);
}

.card-container .list-container .list-content
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    inline-size: 100%;
}

.card-container .list-container .list-content .list-content--name,
.card-container .list-container .list-content .list-content--cost
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.card-container .list-container .list-content div.list-content--cost
{
    align-items: flex-end;
}

.list-content--name  .title,
.list-content--cost .money

{
    font-size: clamp(0.6rem, 1.38889vw, 1.25rem);
    font-weight: 600;
    color: var(--hero-header);
}

.list-content--name .description,
.list-content--cost .payment-type
{
    font-size: clamp(0.6rem, 1.025vw ,1.125rem);
    line-height: clamp(0.8rem, 2.08333vw, 1.875rem);
    color: var(--hero-logo-text);
}

.list-content--cost span.money
{
    color: red;
}

.list-content--cost span.money-credit
{
    color: var(--green);
    font-size: clamp(0.6rem, 1.38889vw, 1.25rem);
    font-weight: 600;
}

/********* Responsiveness *********/
@media screen and (max-width: 625px)
{

    .feature-one 
    {
        margin-top: 1rem;
    }

    .feature-one .container
    {
        flex-direction: column-reverse;
        gap: 3rem;
    }

    .feature-one .container > *:not(.card-image)
    {
        width: 98%;
        position: relative;
    }

    .content--heading 
    {
        align-self: center;
    }

    .card-image > img
    {
        max-inline-size: 85vw;
    }

    .card-icon-holder img
    {
        height: auto;
        width: 35px;
    }
}

@media screen and (max-width: 400px)
{
    .card-icon-holder img
    {
        width: 25px;
    }

    .card-image > img
    {
        max-inline-size: 95vw;
    }

}


/***************************/
/*** Feature two Section ***/
/***************************/

.feature-two
{
    position: realtive;
    inline-size: 100%;
    block-size: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    padding: 1.5rem 0;
}

.feature-two .container 
{
    flex-direction: row;
    align-items: center;
    position: relative;
}

.feature-two .content
{
    width: 45%;
}

.feature-two-content--btns
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: clamp(0.8rem, 1.355rem, 1.75rem);
}

.feature-two-content--btns > *
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: clamp(0.8rem, 1.355rem, 1.75rem);;
}

.feature-two-content--btns > * > *
{
    height: auto;
    width: clamp(6rem, 16.875vw, 15.1875rem)
}

.feature-two-content--navigation
{
    color: var(--feature-two);
    font-size: clamp(0.8rem, 1.38889vw, 1.25rem);
}

.feature-two-content--navigation i
{
    margin-inline-start: 0.4rem;
}

/********** Responsiveness *********/
@media screen and (max-width: 625px)
{
    .feature-two
    {
        margin-top: 1rem;
    }
    .feature-two .container
    {
        flex-direction: column;
        gap: 3rem;
    }

    .feature-two .container > *
    {
        width: 98%;
        position: relative;
    }

    .content--heading 
    {
        align-self: center;
    }

    .image img
    {
        max-inline-size: 70vw;
    }

    .image img:last-child
    {
        top: 53%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .feature-two-content--btns > *
    {
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        max-inline-size: 100%;
    }

    }